<h1><%= @student.to_s %></h1>
<div>

<% if @student.active %>
<%= link_to "This student is currently active.", "#{@student.id}/activate" %>
<%else%>
<%= link_to "This student is currently inactive.", "#{@student.id}/activate" %>
<%end%>


